html {
    margin: 0;
    padding: 0;
}

body.original-mode {
    background: linear-gradient(to right, rgb(83, 70, 120), hwb(273 58% 34%));
    font-family: 'Didact Gothic', sans-serif; 
    min-width: 100%; 
}

header {
    color:#ffffff;
}

.title {
    margin-top: 10px;
    font-size: 4.5em;
}

.color-btn {
    margin-top: 2em;
    color: white;
    border: solid 1px white;
    font-size: large;
}
  
i.original-mode {
    font-size: x-large;
    color:rgb(255, 255, 255);
}

i.original-mode:hover {
    color: rgb(83, 83, 83);
}

.note {
    font-size: larger;
}

.delete-icon.original-mode {
    color: rgb(126, 126, 126);
    text-align: end;
    margin: 8px;
}

.delete-icon:hover {
    color:hsl(273, 11%, 62%);
}

.card {
    height: 10em;
    width: 25em;
    margin: 1em;
}
  

body.dark-mode {
    background: linear-gradient(to right, rgb(40, 40, 41), rgb(93, 93, 93));
    font-family: 'Didact Gothic', sans-serif;
    width: 100%; 
}
  
.delete-icon.dark-mode {
    color: rgb(56, 56, 58);
}

body.happy-mode {
    background: linear-gradient(to right, rgb(171, 197, 147), rgb(163, 163, 230));
    font-family: 'Didact Gothic', sans-serif;
    width: 100%; 
}

body.minimal-mode {
    background: linear-gradient(to right, rgb(172, 172, 172), rgb(222, 222, 222));
    font-family: 'Didact Gothic', sans-serif;
    width: 100%; 
}

.no-do {
    color: white;
    font-size: 2em;
}

@media screen and (max-width: 780px) {
    .title {
        font-size: 4em;
    }

    .color-btn{
        font-size: medium;
    }

}

@media screen and (max-width: 500px) {
    .title {
        font-size: 2.5em;
    }

    .color-btn {
        font-size: x-small;
    }

}