body {
    background: linear-gradient(to right, rgb(83, 70, 120), hsl(273, 11%, 62%));
    font-family: 'Didact Gothic', sans-serif;
  }

header {
    color:#ffffff;
}

.color-btn {
    color: white;
    border: solid 1px white;
}
  
i {
    font-size: x-large;
    color:rgb(255, 255, 255);
}

i:hover {
    color: rgb(32, 32, 32);
}

.card {
    height: 10em;
    width: 25em;
    margin: 1em;
}
  
footer {
    color: #ffffff; 
}
  